@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.root-bg{
  background-image: url('/wallpaperbetter.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
